<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- LOAD STITCH RESOURCES -->
<script src="https://s3.amazonaws.com/stitch-sdks/js/library/stable/stitch.min.js"></script>

<!-- LOAD CUSTOM STATIC RESOURCES -->
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png"/>
<link rel="stylesheet" type="text/css" media="screen" href="/css/custom.css"/>
<script type="text/javascript" src="/js/index.js"></script>

<!-- LOAD BULMA RESOURCES -->
<link rel="stylesheet" type="text/css" media="screen" href="/css/bulma.css"/>
<script type="text/javascript" src="https://use.fontawesome.com/9511989a62.js"></script>
<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css"/>

<!-- LOAD ANIMATE RESOURCES -->
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>

