.bg-img { 
  background-image: url(/images/classroom.jpg) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
 }

.img-responsive {
 display: block; 
 max-width: 100%;
 height: auto;
   }

.card{
  opacity: 0.7;
}

.card:hover{
  opacity: 1;
}

a.card{
  opacity: inherit;
  background-color: inherit;
}

a.card:hover{
  opacity: inherit;
}

input.input{
  margin-top: 5px;
}

label.checkBox{
  color: white;
}