/*.hero-head, .hero-foot{
	background-color: #000000;
}

li.is-active a{
	background-color: #FFFFFF;
	color: #000000;
}*/

/*nav {
	background-color: #3e3f3a !important; 
}*/

/*.hero{
	background-image: url('classroom.jpg') !important;
	background-size:  cover;
}*/

.bg-img { 
        background-image: url(/images/classroom.jpg) ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;

 }

.img-responsive {
 display: block; 
 max-width: 100%;
 height: auto;
   }